<!-- <div class="wrap">
    <h2>Reset Password</h2>
    <form>
        Email Id<input  type="text" placeholder=" Enter email id" required>
        Enter new Password<input  type="password" placeholder=" Enter password" required>
        Confirm Password<input  type="password" placeholder="confirm password" required>
        <input type="submit" name="sbmit" value="Submit" (click)="redirectToLogin()"/>
        <br>
        <a href="login">Back to Login</a>
    </form>
</div> -->

<div class="container">
    
    <div class="row">
        
        <div class="col-lg-12">
            <mat-card class="mat-card">
                <mat-card-title>
                    <div style="display: flex; flex:row;justify-content: center;">
                        <h2>Recover Accont</h2>
                    </div>
                    <hr>
                </mat-card-title>
                <div *ngIf="!validEmail">

                        <div *ngIf="error" class="forgot-fields" style="color: red;font-size: 18px;">
                            <span>Not a Customer, Sign Up</span>
                        </div>
                   
                        <div class="forgot-fields">
                            <div>
                                <input (keyup)="checkForValidPhoneNumber()" [(ngModel)]="phoneNumberEntered" class="input-email"  type="text" placeholder="Enter phone number linked to emailId" required>
                            </div>
                            
                        </div>
                        <div style="display: flex;justify-content: center;" *ngIf="!validPhoneNumber">
                            <mat-error>Enter a valid phoneNumber</mat-error>
                        </div>
        
                        <div class="forgot-fields">
                            <input (click)="generateOtp()" class="forgot-submit" type="submit" name="submit" value="Next"/>
                        </div>
        
        
                        <!-- <div class="forgot-fields">
                            <input class="input-pass"  type="password" placeholder="Enter password" required>
                        </div>
                        <div class="forgot-fields">
                            <input class="input-confirmpass"  type="text" placeholder="confirm password" required>
                        </div>
                        <div class="forgot-fields">
                            <input class="forgot-submit" type="submit" name="submit" value="Submit" (click)="redirectToLogin()"/>
                        </div> -->
                        <div class="forgot-fields">
                            <br>
                            <a class="back-to-login" href="home-nav/login">Back to Login</a>
                        </div>
                </div>


<!-- reset password block -->
                <div *ngIf="validEmail">

                    <div *ngIf="!otpValid">
                        <div *ngIf="!firstTime" class="forgot-fields" style="color:red;font-size: 20px;">
                            <span>Invalid Otp</span>
                        </div>
                        <div style="display:flex;justify-content: center;">
                            <span>Otp sent successfully to {{otp.email}}</span>
                        </div>
                        <div class="forgot-fields">
                            <input [(ngModel)]="enteredOtp" class="input-pass"  type="number" placeholder="Enter Otp" required>
                        </div>
                        <div class="forgot-fields">
                            <input class="forgot-submit" type="submit" name="submit" value="Validate" (click)="validateOtp()"/>
                        </div>
                    </div>

                    <div *ngIf="otpValid">
                        <div class="forgot-fields">
                            <input [(ngModel)]="password" class="input-pass"  type="password" placeholder="Enter password" required>
                        </div>
                        <div class="forgot-fields">
                            <input [(ngModel)]="confirmPassword" class="input-confirmpass"  type="text" placeholder="confirm password" required>
                        </div>
                        <div class="forgot-fields">
                            <input class="forgot-submit" type="submit" name="submit" value="Submit" (click)="redirectToLogin()"/>
                        </div>
                    </div>
                </div>
                
            </mat-card>
        </div>
    </div>
</div>
