<!-- <p>
    <mat-toolbar>
        <button mat-icon-button class="example-icon">
         <mat-icon>menu</mat-icon>
       </button>
       <span>VoizFonica</span>
       <span class="example-spacer"></span>
       <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
         <mat-icon>favorite</mat-icon>
       </button>
       <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
</p>
  -->
  <header>
    <div class="header-left">
      <img style="height: 35px;width:35px;border-radius: 30px;margin-right: 20px;margin-left: 20px;" src="https://st4.depositphotos.com/22052918/24790/v/380/depositphotos_247907816-stock-illustration-letters-vf-simple-wings-logo.jpg" alt="">
          <a href="#">VoizFonica</a>
    </div>

    <div class="header-center">
         <input class="header-center-input"  type="text" placeholder="Search for products and Plans"> <i class="fas fa-search"></i>
    </div>
    <div class="header-right">
           
          <a href="products">Products<i class="fas fa-caret-down"></i></a>
          <a href="#"><i class="fas fa-shopping-cart"></i>Services</a>
          <a class="active" href="login">User</a>
            <a class="active" href="admin-login">Admin</a>
    </div>
    
  </header>
  <section>      
    <div class="banner">
        <div class="slider">    
        <img src="assets/images/Ban4.jpg" alt="banner" width="100%" height="700px">
    </div>
 </div>
</section>

<!-- <footer>
    <div class="footer-row">
        <div class="footer-col-1">
          <div class="footer-heading">
              <p>ABOUT</p>
          </div>
          <div class="footer-list">
              <p>VoizFonica is a mobile network operator and telephone company.It provides network access and telelcommunication services that help people and companies communicate in an easy,efficient. VoizFonica established in the year of 2010,has recorded substential growth.</p>>
          </div>
        </div>
        <div class="footer-col-2">
            <div class="footer-heading">
                <p> OUR OFFERS</p>
            </div>
            <div class="footer-list">
                <a href="products">Products </a>
                <a href="products"> Postpaid</a>
                <a href="products"> Prepaid</a>
                <a href="products"> Dongle</a>
            </div>
        </div>
        <div class="footer-col-3">
            <div class="footer-heading">
                <p>SERVICES </p>
            </div>
            <div class="footer-list">
                <a href="#">FAQ </a>
                <a href="#"> Contact Us</a>
                <a href="#">Track Order</a>
                <a href="#">Feedback </a>
            </div>
        </div>
        <div class="footer-col-4">
            <div class="footer-heading">
                <p>SOCIAL</p>
            </div>
            <div class="footer-list">
                
                <a href="#">Facebook</a>
                <a href="#">Twitter </a>
                <a href="#"> YouTube</a>
          </div>
        </div>
    </div>
</footer> -->

