<div class="container-fluid">
    <!-- <div class="row">
        <div class="col-lg-12"  style="display: flex; justify-content: flex-end;padding-top: 30px;">
            <a href="login" class="btn-primary btn" style="margin-right: 10%;padding:10px 20px;font-size: 15px;">Go to User Login</a>
        </div>
    </div> -->

    
    <div class="row login-block">
        
        <div class="col-lg-12">
            <mat-card class="mat-card">
                <mat-card-title>
                    <div *ngIf="!validAdmin" style="display: flex; justify-content: center;margin-bottom: 20px;">
                        <h2>Invalid Credentials</h2>
                    </div>
                    <div style="display: flex; justify-content: center;margin-bottom: 30px;">
                        <h2>Admin Login</h2>
                    </div>
                </mat-card-title>
                
                <div>
                    <div style="display: flex;justify-content: center;">
                        <input [(ngModel)]="adminUserName" placeholder="User Name" class="{{error}} admin-user-name-class inputText" type="text"/>
                        <mat-icon class="user-icon">account_circle</mat-icon>
                    </div>
                </div>
                <div style="display: flex; margin-top: 30px;justify-content: center;">
                    <input [(ngModel)]="adminPassword" placeholder="Password" type={{inputType}} style="border-right:0px"class="admin-password-class"/>
                    <mat-icon class="eye-icon" (click)="changeVisibility()">{{visibility}}</mat-icon>
                </div>
                <div class="login-btn-block">
                    <input (click)="loginTheAdmin()" class="btn-success btn login-btn" type="submit" value="Login">
                </div>
            </mat-card>
        </div>
    </div>
</div>