/* .page-footer {
    background-color: beige;
    padding-top: 50px;

}

.about{
    font-size: large;
    font-family: serif;
    color: blue;
    font-weight: bolder;
}

.products {
    font-size: large;
    font-family: serif;
    color: brown;
    font-weight: bolder;
}

.services {
    font-size: large;

    font-family: serif;
    color: brown;
    font-weight: bolder;
}
.copyright{
    text-align: left;
    color:green;
    font-weight: 500;
} */
