<div class="container">
    <mat-card>
        <div style="display: flex;justify-content:center">
            <h1>Products</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center"  style="display: flex;justify-content: space-between;margin-top: 2%;">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Prepaid</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"><small class="text-muted fw-light"></small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Today's Plan:</li>
                            <li>Rs.599</li>
                            <li>Truly Unlimited/2GB data</li>
                            <li>Validity:3 Months</li>
                            <li></li>
                        </ul>
                        <a href="login"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Buy</button></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Postpaid</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"><small class="text-muted fw-light"></small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Today's Plan:</li>
                            <li>Rs.599</li>
                            <li>Truly Unlimited/2GB data</li>
                            <li>Bill Cycle</li>
                            <li></li>
                        </ul>
                        <a href="login"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Buy</button></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Dongle</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"><small class="text-muted fw-light"></small></h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Today's Plan:</li>
                            <li>Rs.599</li>
                            <li>Truly Unlimited/2GB data</li>
                            <li>Validity:3 Months</li>
                            <li></li>
                        </ul>
                        <a href="login"><button type="button" class="w-100 btn btn-lg btn-outline-primary">Buy</button></a>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
<div>