/* .col {
border:1px solid grey;
border-radius: 10px;
padding-bottom: 30px;

}
.card-header {
    padding:10px 150px;
    background-color: cornflowerblue;
    padding-top: 20px;
    border-radius:10px 10px 0px 0px;
} */