<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div>
                <mat-tab-group>
                    <mat-tab label="Get New Connection">
                        <ng-template matTabContent>


                            <div id="bg">
                                <div class="module">
                                    <form class="form">
                                        <input type="text" placeholder="First Name" class="textbox" />
                                        <input type="text" name="lastname" id="" class="textbox"
                                            placeholder="Last Name" />
                                        <input type="text" placeholder="Email" class="textbox" />
                                        <select name="type-of-connection" id="connection-type"class="textbox">
                                            <option value="">Select Connection Type</option>
                                            <option value="">Prepaid</option>
                                            <option value="">Postpaid</option>
                                            <option value="">Dongle</option>
                                        </select>
                                        <input type="number" placeholder="Aadhar Number" class="textbox" />
                                        <textarea type="text" placeholder="Address" class="textbox"></textarea>
                                        <input type="button" value="submit" class="button" />
                                    </form>
                                </div>
                            </div>


                        </ng-template>
                    </mat-tab>

                    <mat-tab label="Upgrade to Postpaid">
                        <ng-template matTabContent>

                            <div id="bg">
                                <div class="module">
                                    <form class="form">
                                        <input type="text" placeholder="Mobile Number" class="textbox" /> <br>
                                        <textarea type="text" placeholder="Reasons for upgrading" class="textbox" ></textarea> <br>
                                        <input type="button" value="Switch to postpaid" class="button" /> <br>

                                    </form>
                                </div>
                            </div>


                        </ng-template>
                    </mat-tab>

                </mat-tab-group>
            </div>
        </div>
    </div>
</div>